<h1>Meld je aan</h1>

    
    <form method="POST" action="/aanmelden" id="gameform">

        <div>
        <section>
            <label for="naam">Hoe heet je?</label>
            <input type="text" id="naam" name="naam" required>
        </section>
        </div>

        <div>
        <section>
            <label for="email">Wat is je E-Mail</label>
            <input type="email" id="email" name="email" required>
        </section>
        </div>

        <div>
        <section>
            <label for="phone">Wat is je telefoonnummer</label>
            <input type="phone" id="telefoon" name="telefoon" required>
        </section>
        </div>

        <div>
            <section>
                <label for="console">Op welke console speel je?</label>
                <select name="console" id="console" required>
                    <option value="PC">PC</option>
                    <option value="PlayStation 4">PlayStation 4</option>
                    <option value="PlayStation 5">PlayStation 5</option>
                    <option value="Xbox One">Xbox One</option>
                    <option value="Xbox Series X">Xbox Series X</option>
                  </select>
            </section>
        </div>

        <div>
        <section>
            <label for="game1">Game 1:</label>
            <select name="game1" id="game1" required>
              <option value="FIFA">Fifa</option>
              <option value="Call of duty">Call of Duty</option>
              <option value="GTA">GTA</option>
              <option value="Farcry">Farcry</option>
              <option value="Rocket League">Rocket League</option>
              <option value="Minecraft">Minecraft</option>
            </select>
        </section>

        <section>
            <label for="game2">Game 2:</label>
            <select name="game2" id="game2" required>
              <option value="FIFA">Fifa</option>
              <option value="Call of duty">Call of Duty</option>
              <option value="GTA">GTA</option>
              <option value="Farcry">Farcry</option>
              <option value="Rocket League">Rocket League</option>
              <option value="Minecraft">Minecraft</option>
            </select>
        </section>
        </div>

        <div>
        <section>
            <label for="game3">Game 3:</label>
            <select name="game3" id="game3" required>
              <option value="FIFA">Fifa</option>
              <option value="Call of duty">Call of Duty</option>
              <option value="GTA">GTA</option>
              <option value="Farcry">Farcry</option>
              <option value="Rocket League">Rocket League</option>
              <option value="Minecraft">Minecraft</option>
            </select>
        </section>

        <section>
            <label for="game4">Game 4:</label>
            <select name="game4" id="game4" required>
              <option value="FIFA">Fifa</option>
              <option value="Call of duty">Call of Duty</option>
              <option value="GTA">GTA</option>
              <option value="Farcry">Farcry</option>
              <option value="Rocket League">Rocket League</option>
              <option value="Minecraft">Minecraft</option>
            </select>
        </section>
        </div>

        <input type="submit" value="Aanmelden">
      </form>