<div class="hometerug">
    <span id="terug"><a href="/"><i class="fas fa-chevron-left"></i></a></span>
</div>

<div class="home hoewerkhet">

    <h1>Game Buddy</h1>
    <p>Ben jij opzoek naar nieuwe game vrienden? Of wil je je vriendenlijst uitbreiden? Dan is de Game Buddy app de oplossing!</p>
    
    <h2>Hoe werkt het?</h2>
    <p>Je plaatst een oproep waarbij jij op zoek bent naar nieuwe game vrienden. Je kiest je vier favoriete games wat dan op jouw oproep komt te staan.
    Mensen kunnen jouw favoriete games, naam en telefoonnummer zien. Met jouw telefoonnummer wat op jouw oproep staat kunnen mensen jou appen of bellen voor een potje!</p>
    
    <h2>Zijn mijn gegevens veilig?</h2>
    <p>Wij respecteren jouw gegevens! Je gegevens worden bij ons veilig opgeslagen (volgens de AVG wet), tot dat jij besluit om je oproep te verwijderen. 
    Ook kan je je oproep wijzigen, je kan je telefoonnumer, naam, games en nog meer wijzigen.</p>

    <h2>Ik wil een oproep plaatsen</h2>
    <p>Ben je er klaar voor om nieuwe game vrienden te vinden? Wacht niet langer, en plaats nu jouw oproep!</p>

    <a href="/aanmelden"><span><i class="fas fa-user-plus"></i></span> Plaats oproep</a>
    
</div>