<div class="home">

    <img src="img/logo.svg" alt="Logo van Game Buddy" data-aos="fade-right"/> 

    <h1>Vind nieuwe game vrienden!</h1>

    <a id="uitleglink" href="/hoe-werkt-het">Hoe werkt het?</a>

    <section>
        <a href="/zoeken"><span><i class="fas fa-gamepad"></i></span> Ik zoek game maatjes</a>
        <a href="/aanmelden"><span><i class="fas fa-user-plus"></i></span> Plaats oproep</a>
    </section>

    <p>Als je je aanmeldt, dan ga je akkoord met onze <a href="#">algemene voorwaarden</a>.</p>

</div>