<div class="home">

    <img src="img/logo.svg" alt="Logo van Game Buddy"/>
    <h1>Vind nieuwe game vrienden!</h1>

    <section>
        <a href="/zoeken"><span><i class="fas fa-gamepad"></i></span> Ik zoek game maatjes</a>
        <a href="/aanmelden"><span><i class="fas fa-user-plus"></i></span> Ik wil me aanmelden</a>
    </section>

    <p>Als je je aanmeldt, dan ga je akkoord met onze <a href="#">algemene voorwaarden</a>.</p>

</div>