<div class="home">
    <img src="img/tinder-logo.svg" alt="logo"/>
    <h1>tinder</h1>

    <section>
        <a href="/register"><span><i class="fas fa-user-plus"></i></span> Account aanmaken</a>
        <a href="/login"><span><i class="fas fa-sign-in-alt"></i></span> Inloggen</a>
    </section>

    <p>Als je een account aanmakat, dan ga je akkoord met onze <a href="#">algemene voorwaarden</a>.</p>

</div>