<div class="registeren">

<h1>Registreren</h1>
    
    <form>

        <fieldset>
            <legend>Over mij</legend>
            <section>
                
                <div>
                    <label for="naam">Naam</label>
                    <input type="text" placeholder="Hoe heet je?" name="naam" id="naam" required>
                </div>

                <div>
                    <label for="leeftijd">Hoe oud ben je?</label>
                    <input type="number" placeholder="Hoe oud ben je" name="leeftijd" id="leeftijd" required>      
                </div>

                <div>
                    <label for="Geslacht"><b>Wat is je geslacht?</b></label>

                        <span>
                        <input type="radio" id="man" name="geslacht" value="man" checked>
                        <label for="man">Man</label>
                        </span>

                        <span>
                        <input type="radio" id="vrouw" name="geslacht" value="vrouw">
                        <label for="vrouw">Vrouw</label>
                        </span>
                </div>

            </section>
        </fieldset>

        <fieldset>
            <legend>Profielfoto</legend>
            <div>
            <input type="file" id="profielfoto" name="profielfoto">
            </div>
        </fieldset>

        <fieldset>
            <legend>Gegevens</legend>
            <section>

                <div>
                    <label for="number"><b>Nummer</b></label>
                    <input type="tel" placeholder="Telefoonnummer" name="number" id="number" required>
                </div>

                <div>
                    <label for="email"><b>E-mail</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>      
                </div>
                
                <div>
                    <label for="password"><b>Wachtwoord</b></label>
                    <input type="password" placeholder="Wachtwoord" name="password" id="password" required>
                </div>
                
                <div>
                    <label for="password-repeat"><b>Wachtwoord opnieuw</b></label>
                    <input type="password" placeholder="Wachtwoord opnieuw invoeren" name="password-repeat" id="password-repeat" required>
                </div>

            </section>
        </fieldset>


        <fieldset>
            <legend>Over mij</legend>
            <div>
                <textarea name="overmij" rows="8" placeholder="Vertel wat over je zelf"></textarea>
            </div>
        </fieldset>



          <button type="submit" class="registrerenknop"><span><i class="fas fa-user-plus"></i></span> Account aanmaken</button>        

      </form>

</div>