<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Verwijder je profiel</h1>

<form method="POST" action="/verwijderen" id="gameform">
    <div>
        <section>
            <label for="verwijderemail">Voer je email in</label>
            <input type="email" id="email" name="verwijderemail" required>
        </section>
    </div>
    
    <input type="submit" value="Verwijderen" id="verwijderknop">
  
</form>