<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>


<h1>Wijzig je gegevens</h1>

  
<form method="POST" action="/wijzigen" id="gameform">


    <div>
    <section>
        <label for="wijzigemail">Wat is je E-Mail</label>
        <input type="email" id="email" name="wijzigemail" required>
    </section>
    </div>

    <div>
      <section>
          <label for="wijzignaam">Wijzig naam</label>
          <input type="text" id="wijzignaam" name="wijzignaam" >
      </section>
      </div>

    <div>
    <section>
        <label for="wijzigtelefoon">Wijzig nummer</label>
        <input type="phone" id="telefoon" name="wijziftelefoon" >
    </section>
    </div>

    <div>
        <section>
            <label for="wijzigconsole">Wijzig Console</label>
            <select name="wijzigconsole" id="console">
                <option value="PC">PC</option>
                <option value="PlayStation 4">PlayStation 4</option>
                <option value="PlayStation 5">PlayStation 5</option>
                <option value="Xbox One">Xbox One</option>
                <option value="Xbox Series X">Xbox Series X</option>
              </select>
        </section>
    </div>

    <div>
    <section>
        <label for="wijziggame1">Wijzig Game 1:</label>
        <select name="wijziggame1" id="game1">
          <option value="FIFA">Fifa</option>
          <option value="Call of duty">Call of Duty</option>
          <option value="GTA">GTA</option>
          <option value="Farcry">Farcry</option>
          <option value="Rocket League">Rocket League</option>
          <option value="Minecraft">Minecraft</option>
        </select>
    </section>

    <section>
        <label for="wijziggame2">Wijzig Game 2:</label>
        <select name="wijziggame2" id="game2">
          <option value="FIFA">Fifa</option>
          <option value="Call of duty">Call of Duty</option>
          <option value="GTA">GTA</option>
          <option value="Farcry">Farcry</option>
          <option value="Rocket League">Rocket League</option>
          <option value="Minecraft">Minecraft</option>
        </select>
    </section>
    </div>

    <div>
    <section>
        <label for="wijziggame3">Wijzig Game 3:</label>
        <select name="wijziggame3" id="game3">
          <option value="FIFA">Fifa</option>
          <option value="Call of duty">Call of Duty</option>
          <option value="GTA">GTA</option>
          <option value="Farcry">Farcry</option>
          <option value="Rocket League">Rocket League</option>
          <option value="Minecraft">Minecraft</option>
        </select>
    </section>

    <section>
        <label for="wijziggame4">Wijzig Game 4:</label>
        <select name="wijziggame4" id="game4">
          <option value="FIFA">Fifa</option>
          <option value="Call of duty">Call of Duty</option>
          <option value="GTA">GTA</option>
          <option value="Farcry">Farcry</option>
          <option value="Rocket League">Rocket League</option>
          <option value="Minecraft">Minecraft</option>
        </select>
    </section>
    </div>

    <input type="submit" value="Wijzigen">
  </form>







  