<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Wijzig je gegevens</h1>
  
<form method="POST" action="/wijzigen" id="gameform" enctype="multipart/form-data">

    <div>
      <section>
        <label for="wijzigemail">Wat is je E-Mail</label>
        <input type="email" id="email" name="wijzigemail" required>
      </section>
    </div>

    <div>
      <section>
          <label for="wijzignaam">Wijzig naam</label>
          <input type="text" id="wijzignaam" name="wijzignaam" required>
      </section>
    </div>

    <div>
      <section>
          <label for="wijzigleeftijd">Wijzig leeftijd</label>
          <input type="number" id="wijzigleeftijd" name="wijzigleeftijd" required>
      </section>
    </div>

    <div>
      <section>
        <label for="wijzigtelefoon">Wijzig nummer</label>
        <input type="phone" id="telefoon" name="wijzigtelefoon" required>
      </section>
    </div>

    <div>
        <section>
            <label for="wijzigconsole">Wijzig Console</label>
            <select name="wijzigconsole" id="console" required>
                <option value="pc">PC</option>
                <option value="ps4">PlayStation 4</option>
                <option value="ps5">PlayStation 5</option>
                <option value="xboxone">Xbox One</option>
                <option value="xboxseriesx">Xbox Series X</option>
            </select>
        </section>
    </div>

    <div>
      <section>
        <label for="wijzigbio">Wijzig bio</label>
        <textarea id="wijzigbio" name="wijzigbio" rows="1" maxlength="50" required></textarea>
      </section>
    </div>

    <div>
    <section>
        <label for="wijziggame1">Wijzig Game 1:</label>
        <select name="wijziggame1" id="game1" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
    </section>

    <section>
        <label for="wijziggame2">Wijzig Game 2:</label>
        <select name="wijziggame2" id="game2" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
    </section>
    </div>

    <div>
    <section>
        <label for="wijziggame3">Wijzig Game 3:</label>
        <select name="wijziggame3" id="game3" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
    </section>

    <section>
        <label for="wijziggame4">Wijzig Game 4:</label>
        <select name="wijziggame4" id="game4" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
    </section>
    </div>

    <div>
      <section>
        <label for="wijzigimage">Wijzig profielfoto</label>
        <input name="wijzigimage" type="file" id="wijzigimage" required/>
      </section>
    </div>

    <input type="submit" value="Wijzigen">
    
  </form>







  