<span id="filter"><i class="fas fa-filter"></i> Filter</span>

<div id="card">

<section>
    <h2>Naam</h2> 
    <p>(21)</p>
</section>

<section>
    <h3>Speelt op:</h3>
    <p>PlayStation 4</p>
    </span>
</section>

<section>
    <h3>Contact</h3>
    <p>06-123456</p> 
    <p>mail@voorbeeld.nl</p>
</section>

<section>
    <p>game1</p> 
    <p>game2</p>
    <p>game3</p> 
    <p>game4</p>
</section>

</div>
