* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cryptoLijst ul {
  padding: 12px;
  list-style-type: none;
  margin: 0px;
}

.cryptoLijst {
  width: 30%;
}

.cryptoLijst ul:nth-child(odd) {
  background-color: #c9c9c9;
}

.cryptoLijst ul:nth-child(even) {
  background-color: #e6e6e6;
}

rect {
  fill: orange;
}
