*{
    margin: 0 auto;
    font-family: Roboto;
}

:root{
    --wit: #ffff;
    --zwart: #000;
    --grijs: #333333;
    --lichtgrijs: #d3d3d3;
    --geel: #fdae37;
}

a{
    color: var(--geel);
}

h1{
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: var(--wit);
    font-style: italic;
}

body{
    background-color: #dcdcdc;
}

#app{
    max-width: 600px;
    margin: auto;
    background-color: var(--grijs);
}

header a{
    padding: 10px;
    font-size: 1.3em;
    color: var(--wit);
    text-decoration: none;
}


/* BEGIN HOME */
.home{
    display: grid;
    text-align: center;
    margin-top: 50px;
}

.home img{
    width: 50%;
    height: auto;
    margin-top: 50px;
}

.home h1{
    color: var(--geel);
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 150px;
}

.home section{
    display: grid;
}

.home section a{
    background-color: var(--wit);
    color: var(--zwart);
    padding: 10px;
    padding-left: 30px;
    width: 280px;
    border-radius: 25px;
    font-size: 1em;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: initial;
}

.home p{
    width: 70%;
    color: var(--wit);
    font-size: 0.8em;
    margin-top: 100px;
}
/* EINDE HOME */


/* BEGIN HEADER */
header img{
    height: 40px;
    width: auto;
    padding: 3px;
    margin-top: 10px;
}
/* EINDE HEADER */


/* BEGIN FOOTER */
footer{
    display: flex;
    border-top: 1px solid var(--geel);
    padding: 10px;
    margin-top: 30px;
}

footer section a{
    font-size: 2em;
    color: var(--geel);
}
/* EINDE FOOTER */


/* BEGIN REGISTREREN */

#gameform div{
    display: flex;
}

#gameform div section{
    display: grid;
    width: 40%;
}

#gameform div section label{   
    font-family: Ubuntu;
    color: var(--geel);
    font-weight: 900;
    margin-bottom: 2px;
}

#gameform div section input, #gameform div section select{   
    width: 100%;
    padding: 8px 2px;
    border-radius: 8px;
    border: 0px;
    margin-bottom: 30px;
    background-color: var(--wit);
}

#console{
    margin-bottom: 75px !important;
}

#gameform input[type=submit]{
    margin: auto;
    display: flex;
    padding: 10px 90px;
    border-radius: 25px;
    border: 0px;
    margin-top: 50px;
    background-color: var(--geel);
    font-size: 1em;
    letter-spacing: 2px;
    cursor: pointer;
}

/* EINDE REGISTREREN */


#card{
    background-color: var(--wit);
    width: 70%;
    border-radius: 10px;
}

#card section{
    text-align: center;
    margin: 20px 0px;
} 

#card section:last-child{
    display: flex;
    padding: 20px 5px;
}

#filter{
    color: var(--geel);
    font-size: 1.5em;
    float: right;
    margin-top: -60px;
    margin-right: 20px;
    cursor: pointer;
}