*{
    margin: 0 auto;
    font-family: Roboto;
}

:root{
    --wit: #ffff;
    --zwart: #000;
    --grijs: #232323;
    --lichtgrijs: #d3d3d3;
    --geel: #fdae37;
}

a{
    color: var(--geel);
}

h1{
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
    color: var(--wit);
}

h2{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: var(--wit);
}

body{
    background-color: #dcdcdc;
}

#app{
    max-width: 600px;
    margin: auto;
    background-color: var(--grijs);
}

header a{
    padding: 10px;
    font-size: 1.3em;
    color: var(--wit);
    text-decoration: none;
}


/* BEGIN HOME */
.home{
    display: grid;
    text-align: center;
    margin-top: 50px;
}

.home img{
    width: 50%;
    height: auto;
    margin-top: 50px;
}

.home h1{
    color: var(--geel);
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 80px;
}

#uitleglink{
    margin-bottom: 80px;
    font-size: 1.2em;
}

.home section{
    display: grid;
}

.home section a{
    background-color: var(--wit);
    color: var(--zwart);
    padding: 10px;
    padding-left: 30px;
    width: 280px;
    border-radius: 25px;
    font-size: 1em;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: initial;
}

.home p{
    width: 70%;
    color: var(--wit);
    font-size: 0.8em;
    margin-top: 100px;
}
/* EINDE HOME */


/* BEGIN HEADER */
header img{
    height: 40px;
    width: auto;
    padding: 3px;
    margin-top: 10px;
}
/* EINDE HEADER */


/* BEGIN FOOTER */
footer{
    display: flex;
    border-top: 1px solid var(--geel);
    padding: 10px;
    margin-top: 30px;
}

footer section a{
    font-size: 2em;
    color: var(--geel);
}
/* EINDE FOOTER */


/* BEGIN REGISTREREN */

#gameform div{
    display: flex;
}

#gameform div section{
    display: grid;
    width: 40%;
}

#gameform div section label{   
    font-family: Ubuntu;
    color: var(--wit);
    font-weight: 100;
    margin-bottom: 2px;
}

#gameform div section input, #gameform div section select, #filteren select{   
    width: 100%;
    padding: 8px 2px;
    border: 0px;
    margin-bottom: 60px;
    background-color: var(--grijs);
    border-bottom: 1px solid var(--geel);
    color: var(--wit);
}

#filteren select{
    width: 50%;
}

#console{
    margin-bottom: 75px !important;
}

#gameform input[type=submit]{
    margin: auto;
    display: flex;
    padding: 10px 90px;
    border-radius: 25px;
    border: 0px;
    margin-top: 50px;
    background-color: var(--geel);
    font-size: 1em;
    letter-spacing: 2px;
    cursor: pointer;
}

/* EINDE REGISTREREN */


#card{
    background-color: var(--wit);
    width: 80%;
    border-radius: 5px;
    margin-top: 70px;
    box-shadow: 5px 10px 18px #777;
}

#card section:nth-child(2){
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #e0e0e0;
}

#card section:nth-child(2) h2, #card section:nth-child(2) p{
    color: var(--zwart);
    margin: 0px;
}

#card section:nth-child(2) p{
    margin-left: 10px;
    font-size: 1.3em;
}

#card section:nth-child(2) span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarimg{
    width: 100px;
    height: auto;
    border: 1px solid black;
    border-radius: 60px;
    margin-top: 20px;
}

.consoleimg{
    width: 200px;
    height: auto;
}

#card section{
    text-align: center;
    margin: 20px 0px;
} 

#card section:nth-child(4){
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 50px;
}

#card section:last-child span{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px 5px 10px 5px;
}

#card section:last-child span img{   
    border-radius: 5px;
    width: 90%;
    height: auto;
}


#zoeken-menu{
    color: var(--geel);
    font-size: 1.5em;
    float: right;
    margin-top: -110px;
    margin-right: 20px;
    cursor: pointer;
}

#zoeken-menu span:first-child{
    margin-right: 20px;
}

#zoeken-menu span:nth-child(2){
    margin-right: 15px;
}

#terug{
    margin-top: 20px;
    margin-right: 50px;
    display: block;
}

#filteren{
    display: none;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    background-color: var(--grijs);
    max-width: 600px;
    height: 100%;
}

#filteren span{
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 1.8em;
    color: var(--geel);
    cursor: pointer;
}

#filteren div{
    margin-top: 100px;
}

#filteren label{
    display: block;
    color: var(--wit);
    margin-top: 100px;
}

#verwijderknop{
    margin-bottom: 350px !important;
}

.notfound{
    margin-top: 150px;
    margin-bottom: 100px;
}

.notfound h1{
    margin-bottom: 0px;
    font-size: 4em;
}

.notfound h2{
    font-size: 2em;
    margin-bottom: 310px;
}

.hoewerkhet p{
    margin: 0 auto;
}

.hoewerkhet h1{
    margin: 0 auto;
    margin-bottom: 10px;
}

.hoewerkhet h2{
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.hoewerkhet a{
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: var(--geel);
    color: var(--zwart);
    letter-spacing: 2px;
    text-decoration: none;
}

.hometerug{
    color: var(--geel);
    font-size: 1.5em;
    float: right;
    margin-top: -110px;
    margin-right: 10px;
    cursor: pointer;
}